<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="/dark.css">
</head>
<body>
    <header>
      <h1>My personal page</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/info">Info</a>
        <a href="/history">History</a>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

</body>
</html>